

<div class="container-carousel">
    <div class="carruseles" id="slider">
        <section class="slider-section">
            <img class="slide-img" src="{{url_for('static', filename='img/garantia.jpg')}}" />
        </section>
        <section class="slider-section">
            <img class="slide-img" src="{{url_for('static', filename='img/fondo.jpg')}}" />
        </section>
        <section class="slider-section">
            <img class="slide-img" src="{{url_for('static', filename='img/img7.jpg')}}" />
        </section>
    </div>
    <div class="btn-left"><</div>
    <div class="btn-right">></div>
</div>
