

{% include 'sitio/header.html' %}

<section class="banner">
    <div class="content-banner">
        <p>Calzado SAS</p>
        <h2>100% Cuero <br />Excelente Calidad</h2>
        <a href="#">Comprar ahora</a>
    </div>

    
    <main class="main-content">
        <section class="container container-features">
            <div class="card-feature">
                <i class="fa-solid fa-plane-up"></i>
                <div class="feature-content">
                    <span>Envío gratuito a nivel mundial</span>
                    <p>En pedido superior a $150</p>
                </div>
            </div>
            <div class="card-feature">
                <i class="fa-solid fa-wallet"></i>
                <div class="feature-content">
                    <span>Contrareembolso</span>
                    <p>100% garantía de devolución de dinero</p>
                </div>
            </div>
            <div class="card-feature">
                <i class="fa-solid fa-gift"></i>
                <div class="feature-content">
                    <span>Tarjeta regalo especial</span>
                    <p>Ofrece bonos especiales con regalo</p>
                </div>
            </div>
            <div class="card-feature">
                <i class="fa-solid fa-headset"></i>
                <div class="feature-content">
                    <span>Servicio al cliente 24/7</span>
                    <p>LLámenos 601-420-214</p>
                </div>
            </div>
</section>
<section class="container top-categories">
    <h1 class="heading-1">Cónocenos</h1>
    <div class="container-categories">
        <div style="text-align: center;"  class="card-category category-moca">
            <p>Hecho en colombia <br>💛💙❤️</p>
            <span>Ver más</span>
        </div>
        <div class="card-category category-expreso">
            <p>Productos de calidad</p>
            <span>Ver más</span>
        </div>
        <div class="card-category category-capuchino">
            <p>Garantías y Pagos Seguros</p>
            <span>Ver más</span>
        </div>
    </div>
</section>

<section class="container top-products">
    <h1 class="heading-1">Más Vendidos</h1>

    <div class="container-options">
        <span class="active">Destacados</span>
        <span>Más recientes</span>
        <span>Más solicitados</span>
    </div>

    <div class="container-products">
        <!-- Producto 1 -->
        <div class="card-product">
            <div class="container-img">
                <img src="View/img/img11.jpg" />
                <span class="discount">-13%</span>
                <div class="button-group">
                    <span>
                        <i class="fa-regular fa-eye"></i>
                    </span>
                    <span>
                        <i class="fa-regular fa-heart"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-code-compare"></i>
                    </span>
                </div>
            </div>
            <div class="content-card-product">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <h3>Zapato Caballero</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">$150.000 <span>$250.000</span></p>
            </div>
        </div>
        <!-- Producto 2 -->
        <div class="card-product">
            <div class="container-img">
                <img
                    src="View/img/Img6.jpg"/>
                <span class="discount">-22%</span>
                <div class="button-group">
                    <span>
                        <i class="fa-regular fa-eye"></i>
                    </span>
                    <span>
                        <i class="fa-regular fa-heart"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-code-compare"></i>
                    </span>
                </div>
            </div>
            <div class="content-card-product">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <h3>Zapato Hombre</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">$178.000 <span>$220.000</span></p>
            </div>
        </div>
        <!--  -->
        <div class="card-product">
            <div class="container-img">
                <img
                    src="View/img/img3.jpg"
                    
                />
                <div class="button-group">
                    <span>
                        <i class="fa-regular fa-eye"></i>
                    </span>
                    <span>
                        <i class="fa-regular fa-heart"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-code-compare"></i>
                    </span>
                </div>
            </div>
            <div class="content-card-product">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h3>Zapato Hombre</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">$260.000</p>
            </div>
        </div>
        <!--  -->
        <div class="card-product">
            <div class="container-img">
                <img src="View/img/img5.jpg" />
                <div class="button-group">
                    <span>
                        <i class="fa-regular fa-eye"></i>
                    </span>
                    <span>
                        <i class="fa-regular fa-heart"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-code-compare"></i>
                    </span>
                </div>
            </div>
            <div class="content-card-product">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <h3>Zapato caballero</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">$195.900</p>
            </div>
        </div>
    </div>
</section>

<section class="gallery">
    <img
        src="View/img/portada1.jpg"
        class="gallery-img-1"
    /><img
        src="View/img/portada2.jpg"
        class="gallery-img-2"
    /><img
        src="View/img/portada4.jpg"
        class="gallery-img-3"
    /><img
        src="View/img/portada3.jpg"
        class="gallery-img-4"
    /><img
        src="View/img/portada5.jpg"
        class="gallery-img-5"
    />
</section>
<section class="container specials">
    <h1 class="heading-1">Temporada Escolar</h1>

    <div class="container-products">
        <!-- Producto 1 -->
        <div class="card-product">
            <div class="container-img">
                <img src="View/img/portada12.jpg" alt="Cafe Irish" />
                <span class="discount">-13%</span>
                <div class="button-group">
                    <span>
                        <i class="fa-regular fa-eye"></i>
                    </span>
                    <span>
                        <i class="fa-regular fa-heart"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-code-compare"></i>
                    </span>
                </div>
            </div>
            <div class="content-card-product">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <h3>Calzado deportivo blanco.</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">$90.000 <span>$115.000</span></p>
            </div>
        </div>

        <section class="container blogs">
            <h1 class="heading-1">Últimos lanzamientos</h1>

            <div class="container-blogs">
                <div class="card-blog">
                    <div class="container-img">
                        <img src="View/img/portada13.jpg"/>
                        <div class="button-group-blog">
                            <span>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <span>
                                <i class="fa-solid fa-link"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-blog">
                        <h3>Tenis escolares</h3>
                        <p>
                        Estos tenis escolares blancos están diseñados para brindar comodidad y estilo en el día a día de los estudiantes. Fabricados con 100% cuero de alta calidad, ofrecen una durabilidad excepcional y un acabado limpio y pulcro ideal para uniformes escolares.
                        </p>
                        <div class="btn-read-more">Leer más</div>
                    </div>
                </div>
                <div class="card-blog">
                    <div class="container-img">
                        <img src="View/img/portada14.jpg" />
                        <div class="button-group-blog">
                            <span>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <span>
                                <i class="fa-solid fa-link"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-blog">
                        <h3>Zapato Jardinera</h3>
                        <p>
                        Nuestros zapatos de jardinera de cuero para niña son el complemento ideal para el look diario de las más pequeñas. Fabricados en cuero suave y resistente, estos zapatos combinan un estilo clásico con una excelente durabilidad.
                        </p>
                        <div class="btn-read-more">Leer más</div>
                    </div>
                </div>
                <div class="card-blog">
                    <div class="container-img">
                        <img src="View/img/portada15.jpg"/>
                        <div class="button-group-blog">
                            <span>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <span>
                                <i class="fa-solid fa-link"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-blog">
                        <h3>Estilo mafalda</h3>
                        <p>
                        Estos zapatos de jardinera para niña están hechos de 100% cuero auténtico, diseñados para aportar tanto comodidad como elegancia en cualquier ocasión. Su diseño clásico con hebilla ajustable asegura un ajuste perfecto y seguro, mientras que la plantilla acolchada y la suela antideslizante brindan confort y estabilidad en cada paso. 
                        </p>
                        <div class="btn-read-more">Leer más</div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include 'sitio/footer.html' %}